<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <p>Please read the <a href="/agreement"> Information Sheet For Participants</a> before responding to the following questions.</p>

  <div class="field">
    <%= check_box_tag(:agreement) %>
    <%= label_tag(:agreement, "I have read the information contained in the Information Sheet For Participants and any questions I have asked have been answered to my satisfaction.") %>
  </div>

  <div class="field">
    <%= check_box_tag(:participation) %>
    <%= label_tag(:participation, "I agree to participate in this activty, understanding that I may withdraw at any time.") %>
  </div>

  <div class="field">
    <%= check_box_tag(:age) %>
    <%= label_tag(:age, "I am over 18 years of age.") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
