<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1>Profile</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3> Participant Information </h3>
<ul>
  <li><%= link_to "Information Sheet For Participants", participant_information_path %></li>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', projects_path %>
