<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, "Project name:" %><br>
    <%= f.text_field :name, class: "form-control", autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :notes, "Additional information about the project:" %><br>
    <%= f.text_area :notes, class: "form-control", rows: 10 %>
  </div>

  <div class="actions form-group">
    <%= link_to @back_path do %><div class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span> Back
    </div><% end %>

    <%= f.submit "Done", class: "btn btn-primary" %>
  </div>
<% end %>
