<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, "Project Name:" %><br>
    <%= f.text_field :name, class: "form-control", autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :notes, "Notes:" %><br>
    <em>Additional information you want to share with other users contributing to this project.</em>
    <%= f.text_area :notes, class: "form-control", rows: 10 %>
  </div>

  <div class="field form-group">
    <%= f.label :algorithm, "Algorithm:" %><br>
    <em>Leave blank to use the default algorithm (SAGA), or choose a specific, enabled algorithm to use in this project.</em>
    <%= f.text_field :algorithm, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= link_to @back_path do %><div class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span> Back
    </div><% end %>

    <%= f.submit "Done", class: "btn btn-primary" %>
  </div>
<% end %>
