<p id="notice"><%= notice %></p>

<h1>Listing projects</h1>

<%= link_to 'Profile', user_path(@user) %>
<%= link_to 'New Project', new_project_path %>
<%= link_to 'Redeem Key', redeem_key_projects_path %>

<br><br>

<table>
  <thead>
    <tr>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.notes %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


