<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1>Redeem Key</h1>
<%= form_tag (check_key_projects_path) do %>
  <div class="field">
    <%= label_tag :key, 'Key'%><br>
    <%= text_field_tag :key, "", class: "form-control" %>
  </div>
  <div class="actions">
    <%= submit_tag "Done", class: "btn btn-md" %>
  </div>
<% end %>

<%= link_to 'Back', projects_path %>
