<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @project.name %></h1>

<div class="well">
  <%= @project.notes %>
</div>

<% if @user_role.position.eql? "Administrator" %>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
    <%= link_to projects_path do%>
      <div class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</div>
    <% end %>
    <%= link_to edit_project_path(@project), title: "Edit" do %>
      <div class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Edit</div>
    <% end %>
    <%= link_to reset_thumbnail_bases_project_path(@project), title: "Clear Thumbnails", method: :post do %>
      <div class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> Remove Thumbnails</div>
    <% end %>
    <% if @admins > 1 %>
      <%= link_to project_path(@project), title: "Leave", method: :delete do %>
      <div class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> Leave</div>
    <% end %>
    <% else %>
      <%= link_to project_path(@project), title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
        <div class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> Delete</div>
      <% end %>
    <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3"><strong>Administrator key:</strong></div>
    <div class="col-md-5"><%= @project.administrator_key %></div>
    <div class="col-md-4"><%= link_to "Generate Key", generate_key_project_path(@project, type: "Administrator"), method: :post %> |
    <%= link_to "Remove Key", reset_key_project_path(@project, type: "Administrator"), method: :post %></div>
  </div>

  <div class="row">
    <div class="col-md-3"><strong>Contributor key:</strong></div>
    <div class="col-md-5"><%= @project.contributor_key %></div>
    <div class="col-md-4"><%= link_to "Generate Key", generate_key_project_path(@project, type: "Contributor"), method: :post %> |
    <%= link_to "Remove Key", reset_key_project_path(@project, type: "Contributor"), method: :post %></div>
  </div>

  <div class="row">
    <div class="col-md-3"><strong>Viewer key:</strong></div>
    <div class="col-md-5"><%= @project.viewer_key %></div>
    <div class="col-md-4"><%= link_to "Generate Key", generate_key_project_path(@project, type: "Viewer"), method: :post %> |
    <%= link_to "Remove Key", reset_key_project_path(@project, type: "Viewer"), method: :post %></div>
  </div>

<% else %>

  <div class="row">
    <div class="col-md-3"></div>
    <%= link_to projects_path do%>
      <div class="col-md-2 btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</div>
    <% end %>
    <div class="col-md-2"></div>
    <%= link_to project_path(@project), title: "Leave", method: :delete do %>
      <div class="col-md-2 btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> Leave</div>
    <% end %>
    <div class="col-md-3"></div>
  </div>

<% end %>

<br>

<% if @administrators.count > 0 %>
<div>
  <strong>Administrators:</strong><br>
  <% @administrators.each do |user| %>
    <p style="margin-left:2em"><%= user.name %> (<%= user.email %>)</p>
  <% end %>
</div>
<% end %>

<% if @user_role.position.eql? "Administrator" %>

  <% if @contributors.count > 0 %>
  <div>
    <strong>Contributors:</strong><br>
    <% @contributors.each do |user| %>
      <p style="margin-left:2em"><%= user.name %> (<%= user.email %>)</p>
    <% end %>
  </div>
  <% end %>

  <% if @viewers.count > 0 %>
  <div>
    <strong>Viewers:</strong><br>
    <% @viewers.each do |user| %>
      <p style="margin-left:2em">%= user.name %> (<%= user.email %>)</p>
    <% end %>
  </div>
  <% end %>

<% end %>
