<h1 class="text-center"><%= @project.name %></h1>
<h4 class="text-center">Algorithm: <%= project_algorithm @project.algorithm %></h4>

<div class="well" style="white-space: pre-wrap"><%= @project.notes %></div>

<% if @user_role.position.eql? "Administrator" %>

  <div class="row">
    <div class="col-md-12 text-center">
    <%= link_to projects_path do%>
      <div class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back
    </div><% end %>
    <%= link_to edit_project_path(@project), title: "Edit" do %>
      <div class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Edit
    </div><% end %>
    <%= link_to import_annotations_project_path(@project) do%>
      <div class="btn btn-default"><i class="glyphicon glyphicon-import"></i> Import Annotations
    </div><% end %>
    <%= link_to export_annotations_project_path(@project) do%>
      <div class="btn btn-default"><i class="glyphicon glyphicon-export"></i> Export Annotations
    </div><% end %>
    <% if @admins > 1 %>
      <%= link_to project_path(@project), title: "Leave", method: :delete,
        data: {confirm: 'Are you sure you wish to leave this project?'} do %>
        <div class="btn btn-default"><i class="glyphicon glyphicon-off"></i> Leave
      </div><% end %>
    <% else %>
      <%= link_to project_path(@project), title: "Delete", method: :delete,
        data: { confirm: 'Are you sure you wish to delete this project?' } do %>
        <div class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> Delete
      </div><% end %>
    <% end %>
    </div>
  </div>

  <br>

  <%= render partial: "key",
    locals: { position: "Administrator", key: @project.administrator_key }
  %>

  <%= render partial: "key",
    locals: { position: "Contributor", key: @project.contributor_key }
  %>

  <%= render partial: "key",
    locals: { position: "Annotator", key: @project.annotator_key }
  %>

  <%= render partial: "key",
    locals: { position: "Viewer", key: @project.viewer_key }
  %>

<% else %>

  <div class="row">
    <div class="col-md-3"></div>

    <%= link_to projects_path do%>
      <div class="col-md-2 btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</div>
    <% end %>

    <div class="col-md-2"></div>
    <%= link_to project_path(@project), title: "Leave", method: :delete,
      data: {confirm: "Are you sure you wish to leave this project?"} do %>
      <div class="col-md-2 btn btn-default"><i class="glyphicon glyphicon-off"></i> Leave</div>
    <% end %>

    <div class="col-md-3"></div>
  </div>

<% end %>

<br>

<% if @administrators.count > 0 %>
<div>
  <strong>Administrators:</strong><br>
  <% @administrators.each do |user| %>
    <p style="margin-left:2em"><%= user.name %> (<%= user.email %>)</p>
  <% end %>
</div>
<% end %>

<% if @user_role.position.eql? "Administrator" %>

  <% if @contributors.count > 0 %>
  <div>
    <strong>Contributors:</strong><br>
    <% @contributors.each do |user| %>
      <div>
        <%= link_to remove_user_project_path(@project, removed_user_id: user.id), method: :post do %><div class="btn btn-default">
          <span class="glyphicon glyphicon-remove-circle"></span> Remove
        </div><% end %>
        <span style="margin-left:2em"><%= user.name %> (<%= user.email %>)</span>
      </div>
    <% end %>
  </div>
  <% end %>

  <% if @viewers.count > 0 %>
  <div>
    <strong>Viewers:</strong><br>
    <% @viewers.each do |user| %>
      <div>
        <%= link_to remove_user_project_path(@project, removed_user_id: user.id), method: :post do %><div class="btn btn-default">
          <span class="glyphicon glyphicon-remove-circle"></span> Remove
        </div><% end %>
        <span style="margin-left:2em"><%= user.name %> (<%= user.email %>)</span>
      </div>
    <% end %>
  </div>
  <% end %>

<% end %>
