<h1>Statistics: <%= @project.name %></h1>

<table class="table table-bordered">
  <tr>
    <th class="text-center">Item</th>
    <th class="text-center">Count</th>
  </tr>
  <tr>
    <td colspan="2"> <strong>Counts</strong> </td>
  <tr>
  <tr>
    <td>Number of Users</td>
    <td><%= @statistics.user_count %> </td>
  </tr>
  <tr>
    <td>Number of Objects</td>
    <td><%= @statistics.object_count %> </td>
  </tr>
  <tr>
    <td>Number of Concepts</td>
    <td><%= @statistics.concept_count %> </td>
  </tr>
  <tr>
    <td>Number of Annotations</td>
    <td><%= @statistics.annotation_count %> </td>
  </tr>
  <tr>
    <td colspan="2"> <strong>Objects</strong> </td>
  <tr>
  <tr>
    <td>Objects - Minimum Annotations</td>
    <td><%= @object_statistics.min %> </td>
  </tr>
  <tr>
    <td>Objects - Average Annotations</td>
    <td><%= @object_statistics.mean %> </td>
  </tr>
  <tr>
    <td>Objects - Maximum Annotations</td>
    <td><%= @object_statistics.max %> </td>
  </tr>
  <tr>
    <td>Objects - Standard Deviation</td>
    <td><%= @object_statistics.std_dev %> </td>
  </tr>
  <tr>
    <td colspan="2"> <strong>Concepts</strong> </td>
  <tr>
  <tr>
    <td>Concepts - Minimum Annotations</td>
    <td><%= @concept_statistics.min %> </td>
  </tr>
  <tr>
    <td>Concepts - Average Annotations</td>
    <td><%= @concept_statistics.mean %> </td>
  </tr>
  <tr>
    <td>Concepts - Maximum Annotations</td>
    <td><%= @concept_statistics.max %> </td>
  </tr>
  <tr>
    <td>Concepts - Standard Deviation</td>
    <td><%= @concept_statistics.std_dev %> </td>
  </tr>
  <tr>
    <td colspan="2"> <strong>Words</strong> </td>
  <tr>
  <tr>
    <td>Words - Minimum Concept Word Count</td>
    <td><%= @word_statistics.min %> </td>
  </tr>
  <tr>
    <td>Words - Average Concept Word Count</td>
    <td><%= @word_statistics.mean %> </td>
  </tr>
  <tr>
    <td>Words - Maximum Concept Word Count</td>
    <td><%= @word_statistics.max %> </td>
  </tr>
  <tr>
    <td>Words - Total Concept Word Count</td>
    <td><%= @word_statistics.std_dev %> </td>
  </tr>
</table>
