<span class="nodecoration">
  <%= link_to project_concept_path(id: concept.id), title: "View" do %>
    <%= concept.description %>
  <% end %>
</span>

<% if controls && (!@user_role.position.eql? "Viewer") %>
  <div class="pull-right">

    <%= link_to "https://www.google.com.au/search?q=#{concept.description}&tbm=isch", title: "Google Image Search", target: "_blank"  do %>
      <i class="glyphicon glyphicon-picture">
    </i><% end %>

    <%= link_to "https://www.google.com.au/search?q=#{concept.description}", title: "Google Search", target: "_blank" do %>
      <i class="glyphicon glyphicon-search">
    </i><% end %>

    <%= link_to edit_project_concept_path(id: concept.id), title: "Edit" do %>
      <i class="glyphicon glyphicon-pencil">
    </i><% end %>

    <%= link_to project_concept_path(id: concept.id), title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="glyphicon glyphicon-trash">
    </i><% end %>

  </div>
<% end %>
