<%= form_for([@project, @concept]) do |f| %>
  <% if @concept.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

      <ul>
      <% @concept.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, "Concept description:" %>
    <%= f.text_area :description, class: "form-control", rows: 6, autofocus: true %>

    <br>

    <div class="actions">
      <%= link_to project_concepts_path(@project), title: "Back" do %><div class="btn btn-default">
          <span class="glyphicon glyphicon-arrow-left"></span> Back
      </div><% end %>
      
      <%= f.submit "Done", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
