<div class="row">
  <div class="col-md-12 well">
    <%= render partial: "concept",
      locals: {
        concept: @concept,
        controls: true
      }
    %>
  </div>
</div>

<div class="text-center">
  <%= link_to project_concepts_path(page: @index_page), title: "Back to Index" do %>
    <div class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Back
  </div><% end %>

  <% if @previous_item %>
    <%= link_to project_concept_path(id: @previous_item), title: "Previous" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Previous
    </div><% end %>
  <% end %>

  <% if @next_item %>
    <%= link_to project_concept_path(id: @next_item), title: "Next" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span> Next
    </div><% end %>
  <% end %>
</div>

<h1>Object Annotations</h1>

<% relevant = @concept.algorithm.suggestions %>
<% relevant.keys.each do |object| %>
  <div class="col-sm-3 col-xs-6" style="height: 240px">

    <%= render partial: "digital_objects/object",
      locals: {
        object: object,
        size: '150px',
        controls: false,
        gallery: true
      }
    %>

    <div class="text-center">
      <% if @concept.digital_objects.include? object %>
        <%= link_to remove_object_project_concept_path(@project, @concept, object_id: object.id), method: :post, title: "Remove" do %>
          <div class="btn btn-primary">
            <%= relevant[object].round(2) %> <i class="glyphicon glyphicon-ok"></i>
          </div>
        <% end %>
      <% else %>
        <%= link_to add_object_project_concept_path(@project, @concept, object_id: object.id), method: :post, title: "Add" do %>
          <div class="btn btn-default">
            <%= relevant[object].round(2) %> <i class="glyphicon glyphicon-ok fade"></i>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>
