<% if notice %>
  <div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<div class="nodecoration">

  <div class="row">
    <div class="col-md-12 well">
      <%= @concept.description %>
      <div class="pull-right">
        <%= link_to edit_project_concept_path(@project, @concept), title: "Edit" do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        <%= link_to project_concept_path(@project, @concept), title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Objects</h3>
      <div class="row">
        <% position = 0 %>
        <% @concept.relevant.keys.each do |object| %>
          <% if position == 3 %>
            </div><div class="row">
            <% position = 0 %>
          <% end %>
          <div class="col-md-4 text-center" style="height: 150px">
            <%= link_to project_digital_object_path(@project, object) do %>
              <div style="height: 100px">
                <%= image_tag object.thumbnail, style: "max-height:100%; max-width:100%" %>
              </div>
              <%= truncate(File.basename(object.location), length: 20) %>
            <% end %>
            <% if @concept.digital_objects.include? object %>
              <%= link_to remove_object_project_concept_path(@project, @concept, object: object.id), method: :post, title: "Remove" do %>
                <i class="glyphicon glyphicon-minus"></i>
              <% end %>
            <% else %>
              <%= link_to add_object_project_concept_path(@project, @concept, object: object.id), method: :post, title: "Add" do %>
                <i class="glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
