<div class="row">
  <div class="col-md-12 well">
    <%= render partial: "concept",
      locals: {
        concept: @concept,
        controls: true
      }
    %>
  </div>
</div>

<div class="text-center">
  <%= link_to project_concepts_path(page: @index_page), title: "Back to Index" do %>
    <div class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Back
  </div><% end %>

  <% if @previous_item %>
    <%= link_to project_concept_path(id: @previous_item), title: "Previous" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Previous
    </div><% end %>
  <% end %>

  <% if @next_item %>
    <%= link_to project_concept_path(id: @next_item), title: "Next" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span> Next
    </div><% end %>

  <%= link_to project_concept_path(id: @random_item), title: "Random" do %>
    <div class="btn btn-default"><span class="glyphicon glyphicon-step-forward"></span> Random
  </div><% end %>
  <% end %>
</div>

<h1>Object Annotations</h1>

<div id="annotations">
  <% relevant = @concept.algorithm.suggestions %>
  <% relevant.keys.each do |object| %>

    <%= render partial: "digital_objects/objectcontrols",
      locals: {
        object: object,
        score: relevant[object],
        size: '150px',
        controls: false,
        gallery: true
      }
    %>

  <% end %>
</div>
