<%= form_for([@project, @digital_object]) do |f| %>

  <% if @digital_object.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@digital_object.errors.count, "error") %> prohibited this digital_object from being saved:</h2>

      <ul>
      <% @digital_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :location, "Object URL:" %><br>

    <% if @digital_object.new_record? %>
      <em>Enter the object's URL, or enter multiple URLs on separate lines.</em>
      <%= f.text_area :location, class: "form-control", rows: 10, autofocus: true %>
    <% else %>
      <em>Update the object's URL.</em>
      <%= f.text_field :location, class: "form-control", autofocus: true %>
    <% end %>
  </div>

  <div class="actions form-group">
    <%= link_to project_digital_objects_path(@project) do %><div class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span> Back
    </div><% end %>

    <%= f.submit "Done", class: "btn btn-primary" %>
  </div>

<% end %>
