<div class="nodecoration text-center">

  <%= link_to project_digital_object_path(id: object.id) do%>

    <% if gallery %>
      <div style="height: <%= size %>">
    <% else %>
      <div>
    <% end %>
      <% thumbnail = object.thumbnail(size, size) %>
      <%= image_tag thumbnail_url(thumbnail),
        id: "thumbnail_#{object.id}",
        class: thumbnail_class(thumbnail, gallery) + " rounded",
        style: thumbnail_style(thumbnail)
      %>
    </div>

    <div class="truncate">
      <%= thumbnail.filename || "Processing..." %>
    </div>
  <% end %>

  <% if controls && (!@user_role.position.eql? "Viewer") %>
    <%= link_to "#", title: "Flip Image", onclick: "$('#thumbnail_#{object.id}').toggleClass('flipped')" do %>
      <i class="glyphicon glyphicon-resize-horizontal">
    </i><% end %>

    <% if object.has_uri? %>
      <%= link_to object.location, title: "Link", target: "_blank" do %>
        <i class="glyphicon glyphicon-link">
      </i><% end %>
    <% end %>

    <%= link_to edit_project_digital_object_path(id: object.id), title: "Edit" do %>
      <i class="glyphicon glyphicon-pencil">
    </i><% end %>

    <%= link_to project_digital_object_path(id: object.id), title: "Delete", method: :delete, data: { confirm: 'Are you sure you wish to delete this object?' } do %>
      <i class="glyphicon glyphicon-trash">
    </i><% end %>
  <% end %>

</div>
