<h1>Objects</h1>

<% if !@user_role.position.eql? "Viewer" %>
  <div class="col-sm-3 col-xs-6 text-center" style="height: 220px">
    <%= link_to new_project_digital_object_path, title: "Create" do %>
      <div class="btn btn-default" style="height: 150px; width: 150px">
        <%= image_tag asset_path("add_file.png"), style: "height: 100%; width: auto;" %>
      </div>
    <% end %>
  </div>
<% end %>

<% @digital_objects.each do |digital_object| %>
  <div class="col-sm-3 col-xs-6" style="height: 220px">
    <%= render partial: "object",
      locals: {
        object: digital_object,
        size: '150px',
        controls: true,
        gallery: true
      }
    %>
  </div>
<% end %>

<div class="col-xs-12 text-center">

  <% if @previous_page %>
    <%= link_to project_digital_objects_path(page: @previous_page), title: "Previous" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Previous
    </div><% end %>
  <% end %>

  <% if @next_page %>
    <%= link_to project_digital_objects_path(page: @next_page), title: "Next" do %>
      <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span> Next
    </div><% end %>
  <% end %>

</div>
