<% if notice %>
  <div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<div class="row nodecoration">
  <div class="col-md-6">
    <div class="text-center well">
      <% if @digital_object.has_uri? %>
        <%= link_to @digital_object.location do%>
          <%= image_tag thumbnail_url(@digital_object.thumbnail(400,400)), style: "width: 100%", id: "thumbnail" %><br />
          <%= truncate(File.basename(@digital_object.location), length: 50) %><br />
        <% end %>
      <% else %>
        <%= image_tag thumbnail_url(@digital_object.thumbnail(400,400)), style: "width: 100%" %><br />
        <%= truncate(File.basename(@digital_object.location), length: 50) %><br />
      <% end %>

      <%= link_to "#", title: "Flip Image", onclick: "$('#thumbnail').toggleClass('flipped')" do %>
        <i class="glyphicon glyphicon-resize-horizontal"></i>
      <% end %>
      <%= link_to edit_project_digital_object_path(@project, @digital_object), title: "Edit" do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to project_digital_object_path(@project, @digital_object), title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <h1>Concept Associations</h1>
    <table class="table table-striped">
      <% relevant = @digital_object.relevant %>
      <% relevant.keys.each do |concept| %>
      <tr>
        <td>
          <%= link_to truncate(concept.description, length: 50), [@project, concept] %>

          <div class="pull-right">
            <% if !@digital_object.concepts.include? concept %>
              <%= link_to add_concept_project_digital_object_path(@project, @digital_object, concept: concept.id), method: :post, title: "Add" do %>
                <%= relevant[concept].round(2) %> <i class="glyphicon glyphicon-plus"></i>
              <% end %>
            <% else %>
              <%= link_to remove_concept_project_digital_object_path(@project, @digital_object, concept: concept.id), method: :post, title: "Remove" do %>
                <%= relevant[concept].round(2) %> <i class="glyphicon glyphicon-minus"></i>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
