<div class="row nodecoration">
  <div class="col-md-6">
    <div class="text-center well">
      <%= render partial: "object",
        locals: {
          object: @digital_object,
          size: '400px',
          controls: true,
          gallery: false
        }
      %>
    </div>

    <div class="text-center">
      <%= link_to project_digital_objects_path(page: @index_page), title: "Back to Index" do %>
        <div class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Back
      </div><% end %>

      <% if @previous_item %>
        <%= link_to project_digital_object_path(id: @previous_item), title: "Previous" do %>
          <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Previous
        </div><% end %>
      <% end %>

      <% if @next_item %>
        <%= link_to project_digital_object_path(id: @next_item), title: "Next" do %>
          <div class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span> Next
        </div><% end %>
      <% end %>

      <%= link_to project_digital_object_path(id: @random_item), title: "Random" do %>
        <div class="btn btn-default"><span class="glyphicon glyphicon-step-forward"></span> Random
      </div><% end %>
    </div>
  </div>

  <div class="col-md-6">
    <h1>Concept Annotations</h1>

    <% if !@user_role.position.eql? "Viewer" %>
      <%= form_for @concept, url: {action: "add_created_concept"}, html: {class: "form-inline"} do |f| %>
        <div class="input-group", style="width: 100%">
          <%= f.text_field :description, class: "form-control", autofocus: true %>
          <span class="input-group-btn">
            <%= f.submit "Add", class: "btn btn-primary", style: "width: 100%" %>
          </span>
        </div>
      <% end %>
    <% end %>

    <br>

    <div id="annotations">
      <%= render partial: "concepts/concepttable",
        locals: {
          digital_object: @digital_object,
          project: @project,
        }
      %>
    </div>

  </div>
</div>
