<!DOCTYPE html>
<html>
<head>
  <title>SAGE<%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <div class="row">
      <%= render 'layouts/notifications' %>

      <div class="col-md-3">
        <%= render 'layouts/navbar' %>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
